.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.blink {
    -webkit-animation: trollcolors 1s steps(5, start) infinite;
}

@-webkit-keyframes trollcolors {
    20% {color: black}
    40% {color: red}
    60% {color: blue}
    80% {color: green}
    100% {color: yellow}
}

body {
    -webkit-animation: backgroundcolors 5s steps(100, start) infinite;
}

@-webkit-keyframes backgroundcolors {
    0% {background-color: white}
    50% {background-color: black}
    100% {background-color: white}
}