body { font-family: 'Audiowide', cursive; }

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.welcome, .tagline { text-align: center; }
.error { color: red; }

#gravatar

#stats {}

.btn {
  text-align: right;
  background: black;
  padding: 10px 10px;
  margin: 10px 10px;
  text-transform: uppercase;
}

.usbtn {
  text-align: right;
  background: red;
  padding: 10px 10px;
  margin: 10px 10px;
  text-transform: downcase;
}


th {
  text-align: left;
}


#nav ul {
    background: #000000;
    color: white;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
#nav li {
    margin: 5px;
    display: inline;
}

#nav li a:hover { color: red; }
