body { font-family: 'Audiowide', cursive; }

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.welcome, .tagline { text-align: center; }
.error { color: red; }

#gravatar

#stats {}

.btn {
  text-align: right;
  background: black;
  padding: 10px 10px;
  margin: 10px 10px;
  text-transform: uppercase;
}

.usbtn {
  text-align: right;
  background: red;
  padding: 10px 10px;
  margin: 10px 10px;
  text-transform: downcase;
}


th {
  text-align: left;
}

@-webkit-keyframes trollcolors {
    20% {color: black}
    40% {color: red}
    60% {color: blue}
    80% {color: green}
    100% {color: yellow}
}

body {
    -webkit-animation: backgroundcolors 5s steps(100, start) infinite;
}

.flash_colors {
    -webkit-animation: trollcolors 1s steps(5, start) infinite;
}

@-webkit-keyframes backgroundcolors {
    0% {background-color: white}
    50% {background-color: black}
    100% {background-color: white}
}

@-webkit-keyframes navbackgroundcolors {
    0% {background-color: black}
    50% {background-color: white}
    100% {background-color: black}
}

#nav {
    -webkit-animation: navbackgroundcolors 5s steps(100, start) infinite;
}

#nav ul {
    color: white;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
#nav li {
    margin: 5px;
    display: inline;
}

a:hover { color: red; }
