<!DOCTYPE html>
<% require 'faker' %>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <h1 class="welcome">Welcome to <a href='/'>Shitter</a></h1>
    <h2 class="tagline"> Because everybody loves <%= Faker::Company.catch_phrase.downcase %></h2>
  <div id="nav">
    <marquee>
      <ul>
        <% if authorized? %>
          <li><a href='/users/<%= @user.user_name %>'> Profile </a></li>
          <li><a href='/tweet'> Tweet </a></li>
          <li><a href='/logout'>Logout</a></li>
          <% end %>
      </ul>
    </marquee>
  </div>
  <div class='container flash_colors'>
    <%= yield %>
  </div>
</body>
</html>
